[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpraw = "*"
pony = "*"
py-cord = "*"
psycopg2 = "*"
attrs = "*"
praw = "*"

[dev-packages]
pytest = "*"
python-dotenv = "*"
mypy = "*"

[requires]
python_version = "3.11"
